@use 'src/styles/vars';

.example-page-container {
  width: 800px;
  margin: 9em auto;

  .example-page-title {
    text-align: center;
    font-size: 5rem;
    color: vars.$secondar-color;
  }

  h2 {
    text-align: center;
    font-size: 3rem;
    color: vars.$secondar-color;
  }

  .example-page-nav {
    padding-bottom: 2em;
  }
}
